body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe, UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-around;
}

.col {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
}

.col input {
    border-radius: 3px;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid darkred;
    font-size: 16px;
    width: 80%;
}

.col label {
    text-align: center;
    font-size: 30px;
    font-weight: 200;
}

.header {
    text-align: center;
    font-size: 30px;
    font-weight: 200;
}

.languages {
    display: flex;
    justify-content: center;
}

.languages li {
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
}

.popular-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.popular-item {
    margin: 20px;
    text-align: center;
}

.space-list-items {
    margin-bottom: 7px;
}

.avatar {
    width: 150px;
    border-radius: 50%;
}

.popular-rank {
    font-size: 20px;
    margin: 10px;
}

.nav {
    display: flex;
}

.active {
    font-weight: bold;
}

.nav li {
    margin-right: 15px;
}

a {
    text-decoration: none;
    color: red;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    color: red;
    background: #0a0a0a;
    border: none;
    font-size: 16px;
    border-radius: 3px;
    width: 200px;
    text-align: center;
    display: block;
    padding: 7px 0;
    margin: 10px auto;
}

.button:hover:enabled {
    background: darkred;
    color: white;
}

.button:active {
    transform: translateY(1px);
}
